extends base

block variables
	- var title = "Авиатехника";
	- var activeMenuItem = 1

	-
		var graphCheckBoxes = {
			"chkBox1": "Максимальная скорость полета",
			"chkBox2": "Максимальная дальность полета",
			"chkBox3": "Максимальная высота полета",
			"chkBox4": "Максимальный взлетный вес",
			"chkBox5": "Максимальное кол-во пассажиров"
		};

	-
		var filteredFormInputs = {
			"filterInputName": "Название",
			"filterInputType": "Тип",
			"filterInputCountry": "Страна",
			"filterInputSpeed": "Скорость",
			"filterInputDistance": "Дальность",
			"filterInputHeight": "Макс. высота полета",
			"filterInputWeight": "Макс. взлетный вес",
			"filterInputPassengers": "Пассажиры",
		};

mixin radioWithRightLabel(id, name, label, value)
	input(id=id name=name type="radio" value=value)&attributes(attributes)
	label(for=id)= label

mixin checkBoxWithRightLabel(id, label, value)
	input(id=id type="radio" name="oyValue" value=value)
	label(for=id)= label

mixin createFilterInput(id, label)
	label(for=id)= label
	input(id=id type="text")

mixin createSortDropdown(dropDownId, checkBoxId, dropDownLabel, checkBoxLabel)
	label(for=dropDownId)= dropDownLabel
	select(id=dropDownId)
		option(value=-1)= "--------"
		- var n = 0
		each value in filteredFormInputs
			option(value=n++)= value 
	label(for=checkBoxId)= checkBoxLabel
	input(id=checkBoxId type="checkbox")

block scripts
	script(src="js/table.js" defer)
	script(src="js/graph.js" defer)

block content
	.flights__form.no-wide-container
		h2 График
		form.graph__container.flights__form-block
			.graph__oxcell
				h3 Значение по оси OX
				.graph__controls
					+radioWithRightLabel("oxValue1", "oxValue", "Тип", 0)(checked)
					+radioWithRightLabel("oxValue2", "oxValue", "Страна", 1)
			.graph__oycell
				h3 Значение по оси OY
				.graph__controls
					- var n = 0
					each value, key in graphCheckBoxes
						if n == 0
							input(type="radio" name="oyValue" value=0 checked=true)
							label()= value
							- n++
						else
							+checkBoxWithRightLabel(key, value, n++)
			button(type="button" onclick="drawGraph(this.form)") Построить
			div(id="graph__viewport")
				svg

		h2 Фильтр
		form.filter-container.flights__form-block
			each value, key in filteredFormInputs
				+createFilterInput(key, value+":")
			button(id="filter_button" type="button") Применить

		h2 Сортировка
		form.sort-container.flights__form-block
			+createSortDropdown("sort1", "isDescending1", "Первый уровень:", "по убыванию:")
			+createSortDropdown("sort2", "isDescending2", "Второй уровень:", "по убыванию:")
		
		.flights-table
			include includes/flights_table

